/pkg
/bin
.DS_Store
/src/golang.org/x/tools
/src/golang.org/x/oauth2
/src/golang.org/x/net
/src/github.com/zmb3/gogetdoc
/src/github.com/zabawaba99/firego
/src/github.com/yourheropaul/inj
/src/github.com/stretchr/testify
/src/github.com/rogpeppe/godef
/src/github.com/nsf/gocode
/src/github.com/klauspost/asmfmt
/src/github.com/kisielk/gotool
/src/github.com/kisielk/errcheck
/src/github.com/jstemmer/gotags
/src/github.com/josharian/impl
/src/github.com/homemade/scl
/src/github.com/hashicorp/hcl
/src/github.com/golang/lint
/src/github.com/fatih/motion
/src/github.com/alecthomas/gometalinter
/src/cloud.google.com/go
/src/goji.io
/vendor
node_modules
/src/github.com
